<nav>
  <div id="Logo">
    <h1>STOCK MARKET</h1>
    <h2>search</h2>
  </div>
  <a href="/">[home]</a>
  <a href="/mongo">[MONGO SEARCH]</a>
  <a href="/postgres">[POSTGRESQL SEARCH]</a>
  <a href="/tree">[SEARCH TREE]</a>
</nav>
