<html lang="en">
    <body>
    <h1 id="mongoh1">Search MongoDB Database</h1>
    <form action="/mongo" method="POST">
        <div id="label">
          <label for="search">Try stock name ie: "Qwest Corporation"</label>
        </div>
        <div>
          <input type="search" id="searchmongo" name="search" required />
        </div>
        <button id="mongobutton" type="submit">Search</button>
      </form>
    <div class="search content">
        <h2 id="mongoresults">All results</h2>
        <% if (results.length > 0) { %>
            <% results.forEach(stock => { %>
                <p class="stock_market">Stock Market
                <b><%= stock.stock_market %> <%= stock.stock_name %></b></br>
                    <%= stock.stock_symbol %> <%= stock.stock_cap %></b></br>
                </p>
            <% }) %>
        <% } else { %>
            No records found.
        <% } %>
    </div>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
    </body>
</html>