<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="nodata content">
        <h2>No data found for the route.</h2>
      </div>
    </main>
  </body>
</html>
