body {
  margin: 0px;
  padding: 0 0px;
  font-family: 'Open Sans', sans-serif;
}

/*********** LOGIN **********/

#loginhtml{
  background-color: #88f5ab
}

#loginheader {
  font-family: "Righteous", sans-serif;
  font-size: 3em;
  padding-top: 0;
}

#loginlabels {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#loginbutton {
  font-size: 1em;
  margin-bottom: 50px;
}

#register {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
}

/*********** REGISTER ***********/


#registerhtml{
  background-color: #88f5ab
}

#registerh1 {
  font-family: "Righteous", sans-serif;
  font-size: 3em;
}

#registerlabels {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#registerbutton {
  font-size: 1em;
  margin-bottom: 30px;
  margin-top: 20px;
}

#login {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
}

a:hover {
  color: grey;
}
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

a {
  margin: 0;
  padding: 0;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 40px; */
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  background: #88f5ab;
  font-family: "Righteous", sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", sans-serif;
}

main {
  padding-top: 98px;
  margin-left: 20px;
  margin-right: 20px;
  /* display: flex;
  flex-direction: column; */
}

main h1 {
  font-family: "BIZ UDPMincho", sans-serif;
  padding-top: 50px;
  padding-bottom: 10px;
}

main p {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
}

/********* MONGO SEARCH **********/

#mongoh1 {
  font-family: "Righteous", sans-serif;
  font-size: 3em;
  background-color: #88f5ab;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}


#label {
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

#searchmongo {
  margin-bottom: 10px;
  margin-left: 20px;
}

#mongobutton {
  margin-left: 20px;
}

#mongoresults {
  padding-left: 20px;
  padding-top: 20px;
}

.stock_market {
  color: red;
  font-family: "BIZ UDPMincho", sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
  padding-left: 20px;
}

#filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#resultContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.stockInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stockName {
  width: 500px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.stockSymbol {
  width: 185px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

#error {
  color: red;
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
  font-family: "Cookie", sans-serif;
  font-size: 1.5em;
}
